
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    background-image: url(caming.jpg.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 10px;
    
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    height:auto;
    
     /* display: inline; */
    float: right;
    font-size: 17px;
    align-items: flex-start;
    
}
.nav-links a{
padding: 13px;
text-decoration: none;
color: rgb(15, 2, 2);
font-weight: 500;

}
a.active, a:hover{
    background-color: blueviolet;
    transition: .5s;
}

h1{
    text-transform: uppercase;
    font: size 48px;
    margin-top: 00px;

}
main{
    width: 80%;
    margin: 0 auto;
}
section{
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.images img{
    width: 50%;
    margin-bottom: 10px;
}
/* aside{
    background-color: #888888;
    padding: 20px;  
    } */
.item{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
.feature{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2%;
  
    
}
#paragraph{
    margin-top: -30px;
    font-size: 24px;
    font-weight: 500;
}

button.btn{
    /* flex-grow: 1;
    flex-basis: 200; */
    border-radius: 10px;
    border: 0 solid rgb(183, 175, 175);
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.543);
    

}
.btn-main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
    
   
   
} 
.card{
    width: 280px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.543);
    border-radius: 10px 10px 0 0;
    margin: 10px;
    box-shadow: 2px 5px 8px;
    
}
.image {
    width:280px;
    height: 200px;
   
}

h2{
    padding: 10px;
    
}
p{
    padding:10px;
   
}
.activities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.activities{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
   
}
.activities_card {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    
}
.activities_card a{
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.543);
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 5px 8px black;
    text-decoration: none;
    
}
.icon-cycling{
    width: 70px;
    padding: 15px;
    
}
.icon-fishing {
    width: 80px;
    padding: 30px 10px;

}
.icon-hiking {
    width: 60px;
    padding: 10px 20px;

    
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.543);
    padding: 20px;
    text-align: center;
}


footer a {
    padding: 20px;
    text-decoration: none;
    color: #222222;
    
}

@media(min-width:600px){
header {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        background-image: url(caming.jpg.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        padding: 10px;

    }
    .nav-links {
             display: flex;
             justify-content: center;
             flex-wrap: wrap;
             height: auto;
    
             /* display: inline; */
             float: right;
             font-size: 17px;
         }
    h1 {
        text-transform: uppercase;
        font: size 48px;
        margin-top: 100px;
    
    }
       

    .images {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
        }
    .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        
            }
    .activities_card {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
    
        }
    }
@media(min-width:400px){
header {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        background-image: url(caming.jpg.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        padding: 10px;
    }
    .nav-links {
             display: flex;
             justify-content: center;
             flex-wrap: wrap;
             height: auto;
    
             /* display: inline; */
             float: right;
             font-size: 17px;
         }
    h1 {
        text-transform: uppercase;
        font: size 48px;
        margin-top: 100px;
    
    }
        .nav-links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
    
            /* display: inline; */
            float: right;
            font-size: 17px;
        }

    .images {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
        }
    .wrapper {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             gap: 20px;
    
         }
    .activities_card {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
    
        }
    

               


} 